Repository bytebuddha/renplate, changes with the labels that .github/labeler.yml gives for each.
All labels: programming, design, docs, gui, renpy

brand
  .github/workflows/releaseCommand.yml
  docs/index.html
  game/scripts/core/options.rpy
Labels: programming, renpy

fix name change bug
  docs/index.html
Labels: none

Update INSTALL.md
  INSTALL.md
Labels: none

changes
  .github/workflows/releaseCommand.yml
Labels: programming

changes
  .github/workflows/releaseCommand.yml
Labels: programming

adding documentation changes
  guide/src/chapter_1.md
Labels: docs

fix mdl problems
  .github/workflows/issueLabeler.yml
  INSTALL.md
Labels: programming

fix mdl lints
  INSTALL.md
Labels: none

fix ordered list
  INSTALL.md
Labels: none

auto build documentation for commit 50060a65f0394cbed36eb3aac0fa69b05923c797
  docs/guide/chapter_1.html
  docs/guide/index.html
  docs/guide/print.html
  docs/guide/searchindex.js
  docs/guide/searchindex.json
Labels: none

add docs changes
  guide/src/chapter_1.md
Labels: docs

add docs changes
  .github/workflows/issueLabeler.yml
Labels: programming

auto build documentation for commit b59ab5aaf8093f10152b3ab2e4f79ffa544e4d1f
  docs/guide/chapter_1.html
  docs/guide/index.html
  docs/guide/print.html
  docs/guide/searchindex.js
  docs/guide/searchindex.json
Labels: none

changes
  .github/workflows/issueLabeler.yml
Labels: programming

changes
  design/src/chapter_1.md
Labels: design

auto build documentation for commit 3909659a594f0924b7ba92e5d5473e83cbb52cac
  docs/design/chapter_1.html
  docs/design/index.html
  docs/design/print.html
  docs/design/searchindex.js
  docs/design/searchindex.json
Labels: none

docs change
  guide/src/chapter_1.md
Labels: docs

auto build documentation for commit f09e54e6726ec7bd7c01b74dec31db4c7bb59035
  docs/guide/chapter_1.html
  docs/guide/index.html
  docs/guide/print.html
  docs/guide/searchindex.js
  docs/guide/searchindex.json
Labels: none

edit doc deploy
  .github/workflows/deployDocs.yml
Labels: programming

fix typo
  .github/workflows/deployDocs.yml
Labels: programming

add linter checks
  .github/workflows/linter.yml
Labels: programming

update docs
  guide/src/chapter_1.md
Labels: docs

fix typo
  .github/workflows/linter.yml
Labels: programming

change
  .github/workflows/linter.yml
Labels: programming

fix typo
  .github/workflows/linter.yml
Labels: programming

force deploy push
  .github/workflows/deployDocs.yml
Labels: programming

fix deploy docs
  .github/workflows/deployDocs.yml
Labels: programming

fix typo
  .github/workflows/deployDocs.yml
Labels: programming

fix typo
  .github/workflows/deployDocs.yml
Labels: programming

fix typo
  .github/workflows/deployDocs.yml
Labels: programming

fix typo
  .github/workflows/deployDocs.yml
Labels: programming

fix typo
  .github/workflows/deployDocs.yml
Labels: programming

auto build documentation for commit 4e53b3aa62b8620efd7852f46a6864e9c77450b1
  docs/guide/chapter_1.html
  docs/guide/index.html
  docs/guide/print.html
  docs/guide/searchindex.js
  docs/guide/searchindex.json
Labels: none

deploy through PAS
  .github/workflows/deployDocs.yml
Labels: programming

deploy through PAS
  .github/workflows/deployDocs.yml
Labels: programming

change line
  guide/src/chapter_1.md
Labels: docs

auto build documentation for commit 5432732d755878e5c6f5f638a254d4b8d32e7128
  docs/guide/chapter_1.html
  docs/guide/index.html
  docs/guide/print.html
  docs/guide/searchindex.js
  docs/guide/searchindex.json
Labels: none

add missing images
  .gitignore
  INSTALL.md
  game/images/bg room.jpg
  game/images/eileen happy.png
Labels: programming

changes
  design/src/chapter_1.md
  guide/src/chapter_1.md
Labels: design, docs

auto build documentation for commit 1641e3daad7e84366756a4bc059567af72083ca1
  docs/design/chapter_1.html
  docs/design/index.html
  docs/design/print.html
  docs/design/searchindex.js
  docs/design/searchindex.json
  docs/guide/chapter_1.html
  docs/guide/index.html
  docs/guide/print.html
  docs/guide/searchindex.js
  docs/guide/searchindex.json
Labels: none

.github/labeler.yml:

programming:
  - .github/**/*
  - game/*
  - .gitignore

design:
  - design/**/*

docs:
  - guide/**/*

gui:
  - game/gui/**/*

renpy:
  - game/scripts/**/*
