Repository bytebuddha/renplate, changes with the labels that .github/labeler.yml gives for each.
All labels: programming, design, docs, gui, renpy

add markdown examples
  design/src/SUMMARY.md
  design/src/markdown_example.md
  guide/src/SUMMARY.md
  guide/src/markdown_example.md
Labels: design, docs

auto build documentation for commit d4f25273f03ab5c8f5ba762cc73e0250f47de41b
  docs/design/chapter_1.html
  docs/design/index.html
  docs/design/print.html
  docs/design/searchindex.js
  docs/design/searchindex.json
  docs/guide/chapter_1.html
  docs/guide/index.html
  docs/guide/print.html
  docs/guide/searchindex.js
  docs/guide/searchindex.json
Labels: none

add release-docs command
  .github/workflows/deployDocs.yml
  .github/workflows/releaseDocsCommand.yml
Labels: programming

fix typo
  .github/workflows/releaseDocsCommand.yml
Labels: programming

simpify release commands
  .github/workflows/releaseCommand.yml
  .github/workflows/releaseDocsCommand.yml
Labels: programming

-fix typo
  .github/workflows/releaseCommand.yml
Labels: programming

remove deploy on push
  .github/workflows/deployDocs.yml
Labels: programming

fix typo
  .github/workflows/releaseCommand.yml
Labels: programming

remove pr releaser
  .github/workflows/releaseCommand.yml
Labels: programming

rearrange files
  .github/workflows/issueCommands.yml
  .github/workflows/onCreate.yml
  .github/workflows/onPullRequest.yml
  .github/workflows/openIssue.yml
  .github/workflows/prLabeler.yml
Labels: programming

add repository init command
  .github/workflows/issueCommands.yml
Labels: programming

fix typo
  .github/workflows/issueCommands.yml
Labels: programming

add repository init command
  .github/workflows/issueCommands.yml
  .github/workflows/onCreate.yml
Labels: programming

Fix repository init command
  .github/workflows/issueCommands.yml
Labels: programming

fix bug
  .github/workflows/issueCommands.yml
Labels: programming

add deploy command
  .github/workflows/issueCommands.yml
Labels: programming

fix bug
  .github/workflows/issueCommands.yml
Labels: programming

fix typo
  .github/workflows/issueCommands.yml
Labels: programming

add forgotten files from last commit
  docs/design/.gitkeep
  docs/guide/.gitkeep
Labels: none

.github/labeler.yml:

programming:
  - .github/**/*
  - game/*
  - .gitignore

design:
  - design/**/*

docs:
  - guide/**/*

gui:
  - game/gui/**/*

renpy:
  - game/scripts/**/*
